django-crispy-forms==1.6.0
django-bootstrap-form==3.2.1
django-bootstrap3==7.0.1
django-bootstrap3-datetimepicker==2.2.3
django-extensions==1.6.7
django-nocaptcha-recaptcha==0.0.19
django-recaptcha==1.0.5
